<h1>Student Details</h1>
<h1>Student ID: <%= student.studentID %></h1>
<h1>Student Name: <%= student['Student Name'] %></h1>
<h1>Student Section: <%= student.sectionname %></h1>
<h1>Date Enrolled: <%= student.dateEnrolled %></h1>
<h1>Enrollment Status: <%= student.status %></h1>
