<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAZSMA | Admin-Dashboard</title>
    <link href="/stylesheets/style1.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
</head>

<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class="fa-solid fa-bars" id="header-toggle"></i> </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="/admin/dashboard" class="nav_logo">
                    <i class='fas fa-graduation-cap nav_logo-icon'></i>
                    <span class="nav_logo-name">E-learn</span>
                </a>
                <div class="nav_list">
                    <a href="/admin/dashboard" class="nav_link active">
                        <i class='fas fa-tachometer-alt nav_icon'></i>
                        <span class="nav_name">Dashboard</span>
                    </a>
                    <a href="/admin/index-subject" class="nav_link">
                        <i class='fas fa-book-open nav_icon'></i>
                        <span class="nav_name">Subject</span>
                    </a>
                    <a href="/admin/index-section" class="nav_link">
                        <i class='fas fa-users nav_icon'></i>
                        <span class="nav_name">Section</span>
                    </a>
                    <a href="/admin/index-teacher" class="nav_link">
                        <i class='fas fa-chalkboard-teacher nav_icon'></i>
                        <span class="nav_name">Teacher</span>
                    </a>
                    <a href="/admin/index-student" class="nav_link">
                        <i class='fas fa-user-graduate nav_icon'></i>
                        <span class="nav_name">Student</span>
                    </a>
                    <a href="/admin/index-department" class="nav_link">
                        <i class='fas fa-building fa-lg nav_icon'></i>
                        <span class="nav_name">Department</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <div class="row my-4 align-items-center">
        <div class="col-md-6">
            <h1>Student</h1>
        </div>
        <div class="col-md-6 text-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createSubjectModal">
                Create Student Account
            </button>
        </div>
    </div>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Section</th>
                <th>Date Enrolled</th>
                <th>Status</th>
                <th colspan="3" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(student=> { %>
                <tr>
                    <td>
                        <%= student.studentID %>
                    </td>
                    <td>
                        <%= student['Student Name'] %>
                    </td>
                    <td>
                        <%= student.sectionname %>
                    </td>
                    <td>
                        <%= student.dateEnrolled %>
                    </td>
                    <td>
                        <%= student.status %>
                    </td>
                    <!-- <td><a href="/admin/view/student/<%= student.id %>">View</a></td> -->
                    <td class="text-center">
                        <button class="btn btn-info" data-bs-toggle="modal"
                            data-bs-target="#viewStudentModal<%= student.id %>">View</button>
                    </td>
                    <!-- <td><a href="/admin/edit/student/<%= student.id %>">Edit</a></td> -->
                    <td class="text-center">
                        <button class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#editStudentModal<%= student.id %>">Edit</button>
                    </td>
                    <td class="text-center">
                        <form action="/admin/delete/student/<%= student.id %>" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>

    <script src="/javascripts/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>

</html>