<h1>edit teacher details</h1>

<form action="/admin/edit/teacher-account/<%= teacherData.id %>" method="post">
    <label for="teacherid">Teacher ID</label><br>
    <input type="text" name="teacherid" id="teacherid" value="<%= teacherData.teacherid %>"><br>

    <label for="firstname">First Name</label><br>
    <input type="text" name="firstname" id="firstname" value="<%= teacherData.firstname %>"><br>

    <label for="middlename">Middle Name</label><br>
    <input type="text" name="middlename" id="middlename" value="<%= teacherData.middlename %>"><br>

    <label for="lastname">Last Name</label><br>
    <input type="text" name="lastname" id="lastname" value="<%= teacherData.lastname %>"><br>

    <label for="suffix">Suffix</label><br>
    <select name="suffix" id="suffix">
        <option value="" disabled selected>Choose an option</option>
        <option value="Sr." <%= teacherData.suffix === "Sr." ? 'selected' : '' %>>Senior</option>
        <option value="Jr." <%= teacherData.suffix === "Jr." ? 'selected' : '' %>>Junior</option>
        <option value="III" <%= teacherData.suffix === "III" ? 'selected' : '' %>>III</option>
        <option value="IV" <%= teacherData.suffix === "IV" ? 'selected' : '' %>>IV</option>
        <option value="V" <%= teacherData.suffix === "V" ? 'selected' : '' %>>V</option>
        <option value="VI" <%= teacherData.suffix === "VI" ? 'selected' : '' %>>VI</option>
        <option value="null" <%= teacherData.suffix === null ? 'selected' : '' %>>none</option>
    </select><br>

    <label for="department">Department</label><br>
    <select name="department" id="department">
        <% for (let departmentObject of departments) { %>
            <option value="<%= departmentObject.department %>" <%= departmentObject.department === teacherData.department ? 'selected' : '' %>>
                <%= departmentObject.department %>
            </option>
        <% } %>
    </select><br>

    <label for="visibility">Visibility</label><br>
    <select name="visibility" id="visibility">
        <option value="" disabled selected>Choose an Option</option>
        <option value="Visible" <%= teacherData.visibility === "Visible" ? 'selected' : '' %>>Visible</option>
        <option value="Invisible" <%= teacherData.visibility === "Invisible" ? 'selected' : '' %>>Invisible</option>
    </select><br><br>
    <button type="submit">Edit Account Details</button>
</form>
