<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAZSMA | Admin-Teacher</title>
    <link href="/stylesheets/style1.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />

</head>

<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class="fa-solid fa-bars" id="header-toggle"></i> </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="/admin/dashboard" class="nav_logo">
                    <i class='fas fa-graduation-cap nav_logo-icon'></i>
                    <span class="nav_logo-name">E-learn</span>
                </a>
                <div class="nav_list">
                    <a href="/admin/dashboard" class="nav_link">
                        <i class='fas fa-tachometer-alt nav_icon'></i>
                        <span class="nav_name">Dashboard</span>
                    </a>
                    <a href="/admin/index-subject" class="nav_link">
                        <i class='fas fa-book-open nav_icon'></i>
                        <span class="nav_name">Subject</span>
                    </a>
                    <a href="/admin/index-section" class="nav_link">
                        <i class='fas fa-users nav_icon'></i>
                        <span class="nav_name">Section</span>
                    </a>
                    <a href="/admin/index-teacher" class="nav_link active">
                        <i class='fas fa-chalkboard-teacher nav_icon'></i>
                        <span class="nav_name">Teacher</span>
                    </a>
                    <a href="/admin/index-student" class="nav_link">
                        <i class='fas fa-user-graduate nav_icon'></i>
                        <span class="nav_name">Student</span>
                    </a>
                    <a href="/admin/index-department" class="nav_link">
                        <i class='fas fa-building fa-lg nav_icon'></i>
                        <span class="nav_name">Department</span>
                    </a>
                </div>
            </div>

        </nav>
    </div>

    <div class="row my-4 align-items-center">
        <div class="col-md-6">
            <h1>Index Teacher</h1>
        </div>
        <div class="col-md-6 text-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createTeacherModal">
                Create a Teacher Profile
            </button>
        </div>
    </div>
    <div class="modal fade" id="createTeacherModal" tabindex="-1" aria-labelledby="createTeacherModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createTeacherModalLabel">Create Teacher Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Teacher Form -->
                    <form id="createTeacherForm" action="/admin/create-teacher-account" method="post">
                        <div class="row">
                            <!-- Left side of the modal -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="teacherid" class="form-label">Teacher ID</label>
                                    <input type="text" class="form-control" name="teacherid" id="teacherid" required>
                                </div>
                                <div class="mb-3">
                                    <label for="department" class="form-label">Department</label>
                                    <select name="department" id="department" class="form-select">
                                        <option value="" selected disabled></option>
                                        <% for (let department of departments) { %>
                                            <option value="<%= department %>">
                                                <%= department %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="visibility" class="form-label">Visibility</label>
                                    <select name="visibility" id="visibility" class="form-select">
                                        <option value="" default selected disabled></option>
                                        <option value="Visible">Visible</option>
                                        <option value="Invisible">Invisible</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Right side of the modal -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="firstname" class="form-label">First Name</label>
                                    <input type="text" class="form-control" name="firstname" id="firstname"
                                        oninput="generateUserLogin()">
                                </div>
                                <div class="mb-3">
                                    <label for="middlename" class="form-label">Middle Name</label>
                                    <input type="text" class="form-control" name="middlename" id="middlename"
                                        oninput="generateUserLogin()">
                                </div>
                                <div class="mb-3">
                                    <label for="lastname" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" name="lastname" id="lastname"
                                        oninput="generateUserLogin()">
                                </div>
                                <div class="mb-3">
                                    <label for="suffix" class="form-label">Suffix</label>
                                    <select name="suffix" id="suffix" class="form-select">
                                        <option value="" disabled selected></option>
                                        <option value="Sr.">Senior</option>
                                        <option value="Jr.">Junior</option>
                                        <option value="III">III</option>
                                        <option value="IV">IV</option>
                                        <option value="V">V</option>
                                        <option value="VI">VI</option>
                                        <option value="null">None</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Create Account</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Teacher ID</th>
                <th>Teacher Name</th>
                <th>Department</th>
                <th>Account Visibility</th>
                <th colspan="3" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% teacherData.forEach(td=> { %>
                <tr>
                    <td>
                        <%= td.teacherid %>
                    </td>
                    <td>
                        <%= td.teachername %>
                    </td>
                    <td>
                        <%= td.department %>
                    </td>
                    <td>
                        <%= td.visibility %>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-info" data-bs-toggle="modal"
                            data-bs-target="#viewTeacherModal-<%= td.id %>">View</button>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#editTeacherModal-<%= td.id %>">
                            Edit Account
                        </button>
                    </td>
                    <td>
                        <form action="/admin/delete/teacher-account/<%= td.id %>" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>

                <div class="modal fade" id="viewTeacherModal-<%= td.id %>" tabindex="-1"
                    aria-labelledby="viewTeacherModalLabel-<%= td.id %>" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="viewTeacherModalLabel-<%= td.id %>">View Teacher Details
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p><strong>Teacher ID:</strong>
                                    <%= td.teacherid %>
                                </p>
                                <p><strong>First Name:</strong>
                                    <%= td.firstname %>
                                </p>
                                <p><strong>Middle Name:</strong>
                                    <%= td.middlename %>
                                </p>
                                <p><strong>Last Name:</strong>
                                    <%= td.lastname %>
                                </p>
                                <p><strong>Suffix:</strong>
                                    <%= td.suffix %>
                                </p>
                                <p><strong>Department:</strong>
                                    <%= td.department %>
                                </p>
                                <p><strong>Visibility:</strong>
                                    <%= td.visibility %>
                                </p>
                                <h1>Login Credentials</h1>
                                <% if (td.userlogin !==null && td.userpassword !==null) { %>
                                    <h2>user login: <%= td.userlogin %>
                                    </h2>
                                    <h2>user password: <%= td.userpassword %>
                                    </h2>
                                    <% } else { %>
                                        <p>Account not yet created</p>
                                        <% } %>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="editTeacherModal-<%= td.id %>" tabindex="-1"
                    aria-labelledby="editTeacherModalLabel-<%= td.id %>" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editTeacherModalLabel-<%= td.id %>">Edit Teacher</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/admin/edit/teacher-account/<%= td.id %>" method="post">
                                    <div class="row">
                                        <!-- Left side of the modal -->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="teacherid-<%= td.id %>" class="form-label">Teacher
                                                    ID</label>
                                                <input type="text" name="teacherid" class="form-control"
                                                    id="teacherid-<%= td.id %>" value="<%= td.teacherid %>">
                                            </div>
                                            <div class="mb-3">
                                                <label for="department-<%= td.id %>">Department</label><br>
                                                <select class="form-select" name="department"
                                                    id="department-<%= td.id %>">
                                                    <option value="" disabled <%=!td.department ? 'selected' : '' %>
                                                        >Choose an option</option>
                                                    <% for (let department of departments) { %>
                                                        <option value="<%= department.department %>"
                                                            <%=td.department===department.department ? 'selected' : ''
                                                            %>>
                                                            <%= department.department %>
                                                        </option>
                                                        <% } %>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="visibility" class="form-label">Visibility</label><br>
                                                <select class="form-select" name="visibility" id="visibility">
                                                    <option value="" disabled selected>Choose an Option</option>
                                                    <option value="Visible" <%=td.visibility==="Visible" ? 'selected'
                                                        : '' %>>Visible</option>
                                                    <option value="Invisible" <%=td.visibility==="Invisible"
                                                        ? 'selected' : '' %>>Invisible</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- Right side of the modal -->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="firstname-<%= td.id %>" class="form-label">First
                                                    Name</label>
                                                <input type="text" class="form-control" name="firstname"
                                                    id="firstname-<%= td.id %>" value="<%= td.firstname %>">
                                            </div>

                                            <div class="mb-3">
                                                <label for="middlename<%= td.id %>" class="form-label">Middle
                                                    Name</label>
                                                <input type="text" class="form-control" name="middlename"
                                                    id="middlename-<%= td.id %>" value="<%= td.middlename %>">
                                            </div>
                                            <div class="mb-3">
                                                <label for="lastname<%= td.id %>" class="form-label">Last Name</label>
                                                <input type="text" class="form-control" name="lastname"
                                                    id="lastname-<%= td.id %>" value="<%= td.lastname %>">
                                            </div>
                                            <div class="mb-3">
                                                <label for="suffix" class="form-label">Suffix</label>
                                                <select name="suffix" id="suffix" class="form-select">
                                                    <option value="" disabled selected>Choose an option</option>
                                                    <option value="Sr." <%=teacherData.suffix==="Sr." ? 'selected' : ''
                                                        %>>Senior</option>
                                                    <option value="Jr." <%=teacherData.suffix==="Jr." ? 'selected' : ''
                                                        %>>Junior</option>
                                                    <option value="III" <%=teacherData.suffix==="III" ? 'selected' : ''
                                                        %>>III</option>
                                                    <option value="IV" <%=teacherData.suffix==="IV" ? 'selected' : '' %>
                                                        >IV</option>
                                                    <option value="V" <%=teacherData.suffix==="V" ? 'selected' : '' %>>V
                                                    </option>
                                                    <option value="VI" <%=teacherData.suffix==="VI" ? 'selected' : '' %>
                                                        >VI</option>
                                                    <option value="null" <%=teacherData.suffix===null ? 'selected' : ''
                                                        %>>none</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <% }); %>
        </tbody>
    </table>
</body>

<script src="/javascripts/dashboard.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</html>