<h1>index students</h1>

<table border="1">
    <tr>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Section</th>
        <th>Date Enrolled</th>
        <th>Enrolled || Unenrolled</th>
        <th colspan="3">Actions</th>
    </tr>
    <% data.forEach(student => { %>
    <tr>
        <td><%= student.studentID %></td>
        <td><%= student['Student Name'] %></td>
        <td><%= student.sectionname %></td>
        <td><%= student.dateEnrolled %></td>
        <td><%= student.status %></td>
        <td><a href="/admin/student/view/<%= student.id %>">View</a></td>
        <td><a href="/admin/student/edit/<%= student.id %>">Edit</a></td>
        <td><a href="/admin/student/delete/<%= student.id %>">Delete</a></td>
    </tr>
    <% }); %>
</table>

