<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Departments | DAZSMA</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/dazsma-logo.ico" />
    <link rel="stylesheet" type="text/css" href="../assets/extra-libs/multicheck/multicheck.css" />
    <link href="../assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="../dist/css/style.min.css" rel="stylesheet" />
</head>
<% if (admin_id) { %>
<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <a class="navbar-brand" href="/admin/dashboard">
                        <b class="logo-icon ps-2">
                            <img src="../assets/images/dazsma-logo.png" alt="homepage" class="light-logo" width="25" />
                        </b>
                        <span class="logo-text ms-2">
                            <span>DAZSMA</span>
                        </span>
                    </a>
                    <a class="nav-toggler waves-effect waves-dark d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav float-start me-auto">
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
                                data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="pt-4">
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/dashboard"
                                aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                                    class="hide-menu">Dashboard</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/index-subject"
                                aria-expanded="false"><i class="mdi mdi-book"></i><span
                                    class="hide-menu">Subjects</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/index-section"
                                aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span
                                    class="hide-menu">Sections</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/index-student"
                                aria-expanded="false"><i class="mdi mdi-account"></i><span
                                    class="hide-menu">Students</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/index-teacher"
                                aria-expanded="false"><i class="mdi mdi-account-outline"></i><span
                                    class="hide-menu">Teachers</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" style="margin-bottom: 300px;"
                                href="/admin/index-department" aria-expanded="false"><i class="mdi mdi-home"></i><span
                                    class="hide-menu">Departments</span></a>
                        </li>
                        <% if (admin_id) { %>
                            <div class="logout-button-container">
                                <form id="logoutForm" action="/admin-logout" method="post">
                                  <li class="sidebar-item">
                                    <a href="javascript:void(0);" class="sidebar-link waves-effect waves-dark sidebar-link"
                                      onclick="document.getElementById('logoutForm').submit();" aria-expanded="false"><i
                                        class="mdi mdi-logout"></i><span class="hide-menu">Logout</span></a>
                                  </li>
                                </form>
                              </div>
                              <% } else { %>
                                <div class="logout-button-container">
                                  <li class="sidebar-item">
                                    <a href="/admin" class="sidebar-link waves-effect waves-dark sidebar-link"
                                      aria-expanded="false"><i class="mdi mdi-login"></i><span class="hide-menu">Login</span></a>
                                  </li>
                                </div>
                                <% } %>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Departments</h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Departments
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="right-align">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#createDepartmentModal">
                                        Create Department
                                    </button>
                                </div>
                                <!-- Create Department Modal -->
                                <div class="modal fade" id="createDepartmentModal" tabindex="-1"
                                    aria-labelledby="createDepartmentModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="createDepartmentModalLabel">Create New
                                                    Department</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/admin/create-department" method="post">
                                                    <div class="mb-3">
                                                        <label for="department" class="form-label">Department
                                                            Name</label>
                                                        <input type="text" class="form-control" id="department"
                                                            name="department" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="visibility">Visibility</label>
                                                        <select name="visibility" id="visibility" class="form-select"
                                                            required>
                                                            <option value="" disabled selected>Choose an option</option>
                                                            <option value="Visible">Visible</option>
                                                            <option value="Invisible">Invisible</option>
                                                        </select>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">Create
                                                            Section</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Department</th>
                                                <th>Status</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% departments.forEach(department=> { %>
                                                <tr>
                                                    <td>
                                                        <%= department.department %>
                                                    </td>
                                                    <td>
                                                        <%= department.visibility %>
                                                    </td>
                                                    <td class="text-center">
                                                        <button type="button" class="btn btn-outline-warning"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#editDepartmentModal-<%= department.id %>">
                                                            <i class="mdi mdi-pencil"></i>
                                                        </button>
                                                        <form action="/admin/delete-department/<%= department.id %>"
                                                            method="post" style="display: inline;">
                                                            <button type="submit" class="btn btn-outline-danger"><i
                                                                    class="mdi mdi-delete"></i></button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                <!-- Edit Department Modal -->
                                                <div class="modal fade" id="editDepartmentModal-<%= department.id %>"
                                                    tabindex="-1"
                                                    aria-labelledby="editDepartmentModalLabel-<%= department.id %>"
                                                    aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title"
                                                                    id="editDepartmentModalLabel-<%= department.id %>">
                                                                    Edit Department
                                                                </h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form
                                                                    action="/admin/edit-department/<%= department.id %>"
                                                                    method="post">
                                                                    <div class="mb-3">
                                                                        <label for="department"
                                                                            class="form-label">Department Name</label>
                                                                        <input type="text" class="form-control"
                                                                            name="department" id="department"
                                                                            value="<%= department.department %>">
                                                                    </div>

                                                                    <div class="mb-3">
                                                                        <label for="visibility">Visibility</label>
                                                                        <select name="visibility" id="visibility"
                                                                            class="form-select">
                                                                            <option value="" disabled>Select Department
                                                                                Visibility</option>
                                                                            <option value="Visible"
                                                                                <%=department.visibility==='Visible'
                                                                                ? 'selected' : '' %>
                                                                                >Visible</option>
                                                                            <option value="Invisible"
                                                                                <%=department.visibility==='Invisible'
                                                                                ? 'selected' : '' %>>Invisible</option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="submit"
                                                                            class="btn btn-warning">Update</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../dist/js/custom.min.js"></script>
    <!-- this page js -->
    <script src="../assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="../assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="../assets/extra-libs/DataTables/datatables.min.js"></script>
    <script>
        $("#zero_config").DataTable();
    </script>
</body>
<% } else { %>
    <div class="error-box">
      <div class="error-body text-center">
        <h1 class="error-title text-info">403</h1>
        <h3 class="text-uppercase error-subtitle">ACCESS FORBIDDEN !</h3>
        <p class="text-muted mt-4 mb-4">
          YOU SEEM TO BE TRYING TO FIND HIS WAY HOME
        </p>
        <a href="/" class="
      btn btn-info btn-rounded
      waves-effect waves-light
      mb-5
      text-white
    ">Back to home</a>
      </div>
    </div>
    <% } %>

</html>