<h1>index teacher</h1>

<a href="/admin/create-teacher-account"><button>Create a Teacher Profile</button></a>

<table border="1">
    <tr>
        <th>Teacher ID</th>
        <th>Teacher Name</th>
        <th>Department</th>
        <th>Account Visibility</th>
        <th colspan="3">Actions</th>
    </tr>
    <% teacherData.forEach(td => { %>
        <tr>
            <td><%= td.teacherid %></td>
            <td><%= td.teachername %></td>
            <td><%= td.department %></td>
            <td><%= td.visibility %></td>
            <td><a href="/admin/view/teacher-account/<%= td.id %>">View Account Details</a></td>
            <td><%= td.id %></td>
            <td><%= td.id %></td>
        </tr>
    <% }); %>
</table>
