<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Student-Dashboard | DAZSMA </title>
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/dazsma-logo.ico" />
  <link href="../assets/libs/flot/css/float-chart.css" rel="stylesheet" />
  <link href="../dist/css/style.min.css" rel="stylesheet" />

  <style>
    .chat-container {
  width: 300px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.chat-box {
  height: 300px;
  overflow-y: scroll;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#user-input {
  width: calc(100% - 70px);
  padding: 5px;
}

button {
  width: 60px;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}

/* Custom CSS */
.custom-style {
    color: white;
    font-size: 15px;
}

  </style>
</head>
<% if (studentid) { %>

  <body>
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
      data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
      <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
          <div class="navbar-header" data-logobg="skin5">
            <a class="navbar-brand" href="/student/dashboard">
              <b class="logo-icon ps-2">
                <img src="../assets/images/dazsma-logo.png" alt="homepage" class="light-logo" width="25" />
              </b>
              <span class="logo-text ms-2">
                <span>DAZSMA</span>
              </span>
            </a>
            <a class="nav-toggler waves-effect waves-dark d-block d-md-none" href="javascript:void(0)"><i
                class="ti-menu ti-close"></i></a>
          </div>
        
          <!-- <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
            <ul class="navbar-nav me-auto">
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
                        data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="sidebar-item">
                    <a href="/student/account" class="sidebar-link waves-effect waves-dark sidebar-link custom-style"
                        style="margin-top: auto;" aria-expanded="false">
                        <i class="mdi mdi-account"></i><span class="hide-menu">Account</span>
                    </a>
                </li>
            </ul>
        </div> -->
        
      
        
        </nav>
      </header>
      <aside class="left-sidebar" data-sidebarbg="skin5">
        <div class="scroll-sidebar">
          <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
              <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/student/dashboard"
                  aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                    class="hide-menu">Dashboard</span></a>
              </li>
              <li class="sidebar-item">
                <a href="/student/account" class="sidebar-link waves-effect waves-dark sidebar-link" style="margin-top: auto;"
                  aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">Account</span></a>
              </li>
              
              <% if (studentid) { %>
                <form id="logoutForm" action="/logout" method="post">
                  <li class="sidebar-item">
                    <a href="javascript:void(0);" class="sidebar-link waves-effect waves-dark sidebar-link"
                      onclick="document.getElementById('logoutForm').submit();" aria-expanded="false"><i
                        class="mdi mdi-logout"></i><span class="hide-menu">Logout</span></a>
                  </li>
                </form>
                <% } else { %>
                  <li class="sidebar-item">
                    <a href="/" class="sidebar-link waves-effect waves-dark sidebar-link" style="margin-top: auto;"
                      aria-expanded="false"><i class="mdi mdi-login"></i><span class="hide-menu">Login</span></a>
                  </li>
                  <% } %>
            </ul>
          </nav>
        </div>
      </aside>
      <div class="page-wrapper">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Dashboard</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/student/dashboard">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row ">
            <!-- Element Overlay Section -->
            <div class="col-md-8">

              <div class="row el-element-overlay">
                <% for (let i=0; i < studentData.length; i++) { %>
                  <div class="col-lg-4 col-md-8">
                    <a href="/student/view/subject/<%= studentData[i].id %>">
                      <div class="card">
                        <div class="el-card-item">
                          <div class="el-card-avatar el-overlay-1">
                            <a href="/student/view/subject/<%= studentData[i].id %>">
                              <img src="../assets/images/big/img1.jpg" alt="user" />
                          </div>
                          <div class="el-card-content">
                            <a href="/student/view/subject/<%= studentData[i].id %>">
                              <h4 class="mb-0">
                                <%= studentData[i].subjectid %>
                              </h4>
                            </a>
                            <span class="text-muted">
                              <%= studentData[i].subjectname %>
                            </span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <% } %>
              </div>

            </div>

            <!-- Card Section -->

            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title mb-0">Announcements</h4>
                </div>
                <% announcementData.forEach(function(announcement) { %>
                  <ul class="list-style-none">
                    <li class="d-flex no-block card-body">
                      <i class="mdi mdi-bullhorn fs-4 w-30px mt-1"></i>
                      <div>
                        <a href="/student/view/announcement" class="mb-0 font-medium p-0">
                          <%= announcement.announcementTitle %>
                        </a>
                        <span class="text-muted">
                          <%- announcement.announcement %>
                        </span>
                      </div>
                      <div class="ms-auto">
                        <div class="text-right">
                          <h5 class="text-muted mb-0" style="font-style: italic;">
                            <%= announcement.dateCreated %>
                          </h5>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <% }); %>
              </div>
            </div>
          </div>

        </div>
      </div>



        <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
        <script src="../assets/extra-libs/sparkline/sparkline.js"></script>
        <script src="../dist/js/waves.js"></script>
        <script src="../dist/js/sidebarmenu.js"></script>
        <script src="../dist/js/custom.min.js"></script>
        <script src="../assets/libs/flot/excanvas.js"></script>
        <script src="../assets/libs/flot/jquery.flot.js"></script>
        <script src="../assets/libs/flot/jquery.flot.pie.js"></script>
        <script src="../assets/libs/flot/jquery.flot.time.js"></script>
        <script src="../assets/libs/flot/jquery.flot.stack.js"></script>
        <script src="../assets/libs/flot/jquery.flot.crosshair.js"></script>
        <script src="../assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
        <script src="../dist/js/pages/chart/chart-page-init.js"></script>
  </body>

  <% } else { %>
    <div class="error-box">
      <div class="error-body text-center">
        <h1 class="error-title text-info">403</h1>
        <h3 class="text-uppercase error-subtitle">ACCESS FORBIDDEN !</h3>
        <p class="text-muted mt-4 mb-4">
          YOU SEEM TO BE TRYING TO FIND HIS WAY HOME
        </p>
        <a href="/" class="
      btn btn-info btn-rounded
      waves-effect waves-light
      mb-5
      text-white
    ">Back to home</a>
      </div>
    </div>
    <% } %>

</html>