<h1>View Announcement</h1>

    <h1>Announcement Title</h1>
    <p><%= announcement.announcementTitle %></p>

    <h1>Announcement Content</h1>
    <p><%= announcement.announcement %></p>

    <h1>Date Created</h1>
    <p><%= announcement.dateCreated %></p>

    <h1>Date Updated</h1>
    <p><%= announcement.dateUpdated %></p>

    <h1>Announcement Visibility</h1>
    <p><%= announcement.visibility %></p>