<h1>Lesson modules for <%= subjectname %> <%= sectionname %> <%= subjectid %></h1>
<button><a href="/teacher/lesson/create">Create Lesson</a></button>

<h1>First Quarter Lessons</h1>
<table border="1" id="firstquartertable">
    <tr>
        <th>id</th>
        <th>lesson id</th>
        <th>lesson title</th>
        <th>quarter period</th>
        <th>subject name</th>
        <th colspan="2">Actions</th>
    </tr>
    <% firstQuarterLessons.forEach(lesson => { %>
        <tr>
            <td><%= lesson.id %></td>
            <td><%= lesson.lessonID %></td>
            <td><%= lesson.lessonTitle %></td>
            <td><%= lesson.quarterperiod %></td>
            <td><%= lesson.subjectname %></td>
            <td><a href="/teacher/lesson/view-lesson/<%= lesson.id %>">View</a></td>
            <td><a href="/teacher/lesson/delete-lesson/<%= lesson.id %>">Delete</a></td>
        </tr>
    <% }); %>
</table>

<h1>Second Quarter Lessons</h1>
<table border="1" id="secondquartertable">
    <tr>
        <th>id</th>
        <th>lesson id</th>
        <th>lesson title</th>
        <th>quarter period</th>
        <th>subject name</th>
        <th colspan="2">Actions</th>
    </tr>
    <% secondQuarterLessons.forEach(lesson => { %>
        <tr>
            <td><%= lesson.id %></td>
            <td><%= lesson.lessonID %></td>
            <td><%= lesson.lessonTitle %></td>
            <td><%= lesson.quarterperiod %></td>
            <td><%= lesson.subjectname %></td>
            <td><a href="/teacher/lesson/view-lesson/<%= lesson.id %>">View</a></td>
            <td><a href="/teacher/lesson/delete-lesson/<%= lesson.id %>">Delete</a></td>
        </tr>
    <% }); %>
</table>

<h1>Third Quarter Lessons</h1>
<table border="1" id="thirdquartertable">
    <tr>
        <th>id</th>
        <th>lesson id</th>
        <th>lesson title</th>
        <th>quarter period</th>
        <th>subject name</th>
        <th colspan="2">Actions</th>
    </tr>
    <% thirdQuarterLessons.forEach(lesson => { %>
        <tr>
            <td><%= lesson.id %></td>
            <td><%= lesson.lessonID %></td>
            <td><%= lesson.lessonTitle %></td>
            <td><%= lesson.quarterperiod %></td>
            <td><%= lesson.subjectname %></td>
            <td><a href="/teacher/lesson/view-lesson/<%= lesson.id %>">View</a></td>
            <td><a href="/teacher/lesson/delete-lesson/<%= lesson.id %>">Delete</a></td>
        </tr>
    <% }); %>
</table>

<h1>Fourth Quarter Lessons</h1>
<table border="1" id="fourthquartertable">
    <tr>
        <th>id</th>
        <th>lesson id</th>
        <th>lesson title</th>
        <th>quarter period</th>
        <th>subject name</th>
        <th colspan="2">Actions</th>
    </tr>
    <% fourthQuarterLessons.forEach(lesson => { %>
        <tr>
            <td><%= lesson.id %></td>
            <td><%= lesson.lessonID %></td>
            <td><%= lesson.lessonTitle %></td>
            <td><%= lesson.quarterperiod %></td>
            <td><%= lesson.subjectname %></td>
            <td><a href="/teacher/lesson/view-lesson/<%= lesson.id %>">View</a></td>
            <td><a href="/teacher/lesson/delete-lesson/<%= lesson.id %>">Delete</a></td>
        </tr>
    <% }); %>
</table>
