<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>View Lesson | DAZSMA </title>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/dazsma-logo.ico" />
    <link href="/assets/libs/flot/css/float-chart.css" rel="stylesheet" />
    <link href="/dist/css/style.min.css" rel="stylesheet" />
    <script src="https://cdn.tiny.cloud/1/ufj9weyctvgle49pehrx5fwaafhproh0juhfnn9hrb2i9leo/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <a class="navbar-brand" href="/student/dashboard">
                        <b class="logo-icon ps-2">
                            <img src="/assets/images/dazsma-logo.png" alt="homepage" class="light-logo" width="25" />
                        </b>
                        <span class="logo-text ms-2">
                            <span>DAZSMA</span>
                        </span>
                    </a>
                    <a class="nav-toggler waves-effect waves-dark d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav float-start me-auto">
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
                                data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="pt-4">
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/teacher/dashboard"
                                aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                                    class="hide-menu">Dashboard</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/teacher/announcement/"
                                aria-expanded="false"><i class="mdi mdi-bullhorn"></i><span
                                    class="hide-menu">Announcements</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/teacher/subjectoverview"
                                aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span
                                    class="hide-menu">Subject
                                    Overview</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/teacher/lesson/modules"
                                aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span
                                    class="hide-menu">Lesson</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                                aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Class
                                    Menu </span></a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                        href="/teacher/view/students" aria-expanded="false"><i
                                            class="mdi mdi-checkbox-blank-circle-outline"></i><span
                                            class="hide-menu">Students</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                        href="/teacher/students/attendance/" aria-expanded="false"><i
                                            class="mdi mdi-checkbox-blank-circle-outline"></i><span
                                            class="hide-menu">Attendance</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                        style="margin-bottom: 462px;" href="/teacher/index/grades"
                                        aria-expanded="false"><i class="mdi mdi-checkbox-blank-circle-outline"></i><span
                                            class="hide-menu">Grades</span></a>
                                </li>
                            </ul>
                        </li>

                        <% if (teacherid) { %>
                            <div class="logout-button-container">
                              <form id="logoutForm" action="/teacher-logout" method="post">
                                <li class="sidebar-item">
                                  <a href="javascript:void(0);" class="sidebar-link waves-effect waves-dark sidebar-link"
                                    onclick="document.getElementById('logoutForm').submit();" aria-expanded="false"><i
                                      class="mdi mdi-logout"></i><span class="hide-menu">Logout</span></a>
                                </li>
                              </form>
                            </div>
                              <% } else { %>
                                <div class="logout-button-container">
                                <li class="sidebar-item">
                                  <a href="/teacher" class="sidebar-link waves-effect waves-dark sidebar-link"
                                    aria-expanded="false"><i class="mdi mdi-login"></i><span class="hide-menu">Login</span></a>
                                </li>
                              </div>
                            <% } %>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">View Lesson > <%=lesson.quarterperiod%> > Lesson <%=lesson.lessonID%> >
                                    <%= lesson.lessonTitle %>
                        </h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/student/dashboard">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Announcement</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title ">
                                </h3>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="section1-tab" data-bs-toggle="tab"
                                            href="#section1" role="tab" aria-controls="section1"
                                            aria-selected="true">Section 1</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="section2-tab" data-bs-toggle="tab" href="#section2"
                                            role="tab" aria-controls="section2" aria-selected="false">Section 2</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="section3-tab" data-bs-toggle="tab" href="#section3"
                                            role="tab" aria-controls="section3" aria-selected="false">Section 3</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="section4-tab" data-bs-toggle="tab" href="#section4"
                                            role="tab" aria-controls="section4" aria-selected="false">Section 4</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="section5-tab" data-bs-toggle="tab" href="#section5"
                                            role="tab" aria-controls="section5" aria-selected="false">Section 5</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="section6-tab" data-bs-toggle="tab" href="#section6"
                                            role="tab" aria-controls="section6" aria-selected="false">Section 6</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="section7-tab" data-bs-toggle="tab" href="#section7"
                                            role="tab" aria-controls="section7" aria-selected="false">Section 7</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="section8-tab" data-bs-toggle="tab" href="#section8"
                                            role="tab" aria-controls="section8" aria-selected="false">Section 8</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="section9-tab" data-bs-toggle="tab" href="#section9"
                                            role="tab" aria-controls="section9" aria-selected="false">Section 9</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="section10-tab" data-bs-toggle="tab" href="#section10"
                                            role="tab" aria-controls="section10" aria-selected="false">Section 10</a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="section1" role="tabpanel"
                                        aria-labelledby="section1-tab">
                                        <div>
                                            <h1>Section 1: </h1><%- lesson.section1 %>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="section2" role="tabpanel"
                                        aria-labelledby="section2-tab">
                                        <div>
                                            <h1>Section 2: </h1><%- lesson.section2 %>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="section3" role="tabpanel"
                                        aria-labelledby="section3-tab">
                                        <div>
                                            <h1>Section 3: </h1><%- lesson.section3 %>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="section4" role="tabpanel"
                                        aria-labelledby="section4-tab">
                                        <div>
                                            <h1>Section 4: </h1><%- lesson.section4 %>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="section5" role="tabpanel"
                                        aria-labelledby="section5-tab">
                                        <div>
                                            <h1>Section 5: </h1><%- lesson.section5 %>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="section6" role="tabpanel"
                                        aria-labelledby="section6-tab">
                                        <div>
                                            <h1>Section 6: </h1><%- lesson.section6 %>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="section7" role="tabpanel"
                                        aria-labelledby="section7-tab">
                                        <div>
                                            <h1>Section 7: </h1><%- lesson.section7 %>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="section8" role="tabpanel"
                                        aria-labelledby="section8-tab">
                                        <div>
                                            <h1>Section 8: </h1><%- lesson.section8 %>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="section9" role="tabpanel"
                                        aria-labelledby="section9-tab">
                                        <div>
                                            <h1>Section 9: </h1><%- lesson.section9 %>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="section10" role="tabpanel"
                                        aria-labelledby="section10-tab">
                                        <div>
                                            <h1>Section 10: </h1><%- lesson.section10 %>
                                        </div>
                                    </div>
                                </div>

                                <h5 style="color: blue;">Visibility Status: <%= lesson.visibility %>
                                </h5>
                                <h6>Date Created: <%= lesson.dateCreated %>
                                </h6>
                                <h6>Date Updated: <%= lesson.dateUpdated %>
                                </h6>

                                <br><br>
                                <a class="btn btn-dark btn-rounded" href="/teacher/lesson/modules">Back</a>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                tinymce.init({
                    selector: 'textarea',
                    plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
                    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                    tinycomments_mode: 'embedded',
                    tinycomments_author: 'Author name',
                    mergetags_list: [
                        { value: 'First.Name', title: 'First Name' },
                        { value: 'Email', title: 'Email' },
                    ],
                    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
                });
            </script>
</body>
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="/assets/extra-libs/sparkline/sparkline.js"></script>
<script src="/dist/js/waves.js"></script>
<script src="/dist/js/sidebarmenu.js"></script>
<script src="/dist/js/custom.min.js"></script>
<script src="/assets/libs/flot/excanvas.js"></script>
<script src="/assets/libs/flot/jquery.flot.js"></script>
<script src="/assets/libs/flot/jquery.flot.pie.js"></script>
<script src="/assets/libs/flot/jquery.flot.time.js"></script>
<script src="/assets/libs/flot/jquery.flot.stack.js"></script>
<script src="/assets/libs/flot/jquery.flot.crosshair.js"></script>
<script src="/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<script src="/dist/js/pages/chart/chart-page-init.js"></script>
<script src="/javascripts/teacher-lesson-modules.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</html>