<h1>Subject name: <%= lesson.subjectname %></h1>
<h1>Section name: <%= lesson.sectionname %></h1>
<h1>Lesson ID: <%= lesson.lessonID %></h1>
<h1>Lesson Title: <%= lesson.lessonTitle %></h1>
<h1>Quarter Period: <%= lesson.quarterperiod %></h1>
<h1>Section 1: <%= lesson.section1 %></h1>
<h1>Section 2: <%= lesson.section2 %></h1>
<h1>Section 3: <%= lesson.section3 %></h1>
<h1>Section 4: <%= lesson.section4 %></h1>
<h1>Section 5: <%= lesson.section5 %></h1>
<h1>Section 6: <%= lesson.section6 %></h1>
<h1>Section 7: <%= lesson.section7 %></h1>
<h1>Section 8: <%= lesson.section8 %></h1>
<h1>Section 9: <%= lesson.section9 %></h1>
<h1>Section 10: <%= lesson.section10 %></h1>
<h1>Date Created: <%= lesson.dateCreated %></h1>
<h1>Date Updated: <%= lesson.dateUpdated %></h1>
<h1>Visibility: <%= lesson.visibility %></h1>
