<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Announcements | DAZSMA </title>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/dazsma-logo.ico" />
    <link href="/assets/libs/flot/css/float-chart.css" rel="stylesheet" />
    <link href="/dist/css/style.min.css" rel="stylesheet" />
    <script src="https://cdn.tiny.cloud/1/ufj9weyctvgle49pehrx5fwaafhproh0juhfnn9hrb2i9leo/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<% if (teacherid) { %>

    <body>
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
            data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
            <header class="topbar" data-navbarbg="skin5">
                <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                    <div class="navbar-header" data-logobg="skin5">
                        <a class="navbar-brand" href="/teacher/dashboard">
                            <b class="logo-icon ps-2">
                                <img src="/assets/images/dazsma-logo.png" alt="homepage" class="light-logo"
                                    width="25" />
                            </b>
                            <span class="logo-text ms-2">
                                <span>DAZSMA</span>
                            </span>
                        </a>
                        <a class="nav-toggler waves-effect waves-dark d-block d-md-none" href="javascript:void(0)"><i
                                class="ti-menu ti-close"></i></a>
                    </div>
                    <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                        <ul class="navbar-nav float-start me-auto">
                            <li class="nav-item d-none d-lg-block">
                                <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
                                    data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <aside class="left-sidebar" data-sidebarbg="skin5">
                <div class="scroll-sidebar">
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav" class="pt-4">
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/teacher/dashboard"
                                    aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                                        class="hide-menu">Dashboard</span></a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                    href="/teacher/announcement/" aria-expanded="false"><i
                                        class="mdi mdi-bullhorn"></i><span class="hide-menu">Announcements</span></a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                    href="/teacher/subjectoverview" aria-expanded="false"><i
                                        class="mdi mdi-eye"></i><span class="hide-menu">Subject
                                        Overview</span></a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                    href="/teacher/lesson/modules" aria-expanded="false"><i
                                        class="mdi mdi-book-multiple"></i><span class="hide-menu">Lesson</span></a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                                    aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span
                                        class="hide-menu">Class</span></a>
                                <ul aria-expanded="false" class="collapse first-level">
                                    <li class="sidebar-item">
                                        <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                            href="/teacher/view/students" aria-expanded="false"><i
                                                class="mdi mdi-checkbox-multiple-blank-circle-outline"></i><span
                                                class="hide-menu">Students</span></a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                            href="/teacher/students/attendance/" aria-expanded="false"><i
                                                class="mdi mdi-checkbox-multiple-blank-circle-outline"></i><span
                                                class="hide-menu">Attendance</span></a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                            style="margin-bottom: 462px;" href="/teacher/index/grades"
                                            aria-expanded="false"><i
                                                class="mdi mdi-checkbox-multiple-blank-circle-outline"></i><span
                                                class="hide-menu">Grades</span></a>
                                    </li>
                                </ul>
                            </li>

                            <% if (teacherid) { %>
                                <div class="logout-button-container">
                                    <form id="logoutForm" action="/teacher-logout" method="post">
                                        <li class="sidebar-item">
                                            <a href="javascript:void(0);"
                                                class="sidebar-link waves-effect waves-dark sidebar-link"
                                                onclick="document.getElementById('logoutForm').submit();"
                                                aria-expanded="false"><i class="mdi mdi-logout"></i><span
                                                    class="hide-menu">Logout</span></a>
                                        </li>
                                    </form>
                                </div>
                                <% } else { %>
                                    <div class="logout-button-container">
                                        <li class="sidebar-item">
                                            <a href="/teacher" class="sidebar-link waves-effect waves-dark sidebar-link"
                                                aria-expanded="false"><i class="mdi mdi-login"></i><span
                                                    class="hide-menu">Login</span></a>
                                        </li>
                                    </div>
                                    <% } %>
                        </ul>
                    </nav>
                </div>
            </aside>
            <div class="page-wrapper">
                <div class="page-breadcrumb">
                    <div class="row">
                        <div class="col-12 d-flex no-block align-items-center">
                            <h4 class="page-title">Announcements</h4>
                            <div class="ms-auto text-end">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/teacher/dashboard">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Announcements</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <% if (teacherid) { %>

                    <% if (messages.success) { %>
                        
                            <script>
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Announcement Created Successfully',
                                    text: '<%= messages.success %>',
                                });
                            </script>
                        
                    <% } %>
                    <% if (messages.success1) { %>
                        
                        <script>
                            Swal.fire({
                                icon: 'success',
                                title: 'Announcement Updated Successfully',
                                text: '<%= messages.success1 %>',
                            });
                        </script>
                    
                <% } %>

                    <div class="container-fluid">
                        <div class="right-align">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#createAnnounceModal">
                                Create Announcement
                            </button>
                        </div>
                        <div class="modal fade" id="createAnnounceModal" tabindex="-1"
                            aria-labelledby="createAnnounceModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="createAnnounceModalLabel">Create Announcement
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/teacher/announcement/create" method="post">
                                            <div class="row">
                                                <div class=" col-6 mb-3"><label class="form-label" for="">Announcement
                                                        title</label>
                                                    <input type="text" class="form-control" name="announcementTitle"
                                                        id="">
                                                </div>
                                                <div class="col-6 mb-3">
                                                    <label for="" class="form-label">Visibility</label>
                                                    <select name="visibility" id="" class="form-select">
                                                        <option value="" disabled selected>Choose an option</option>
                                                        <option value="Visible">Visible</option>
                                                        <option value="Invisible">Invisible</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mb-3"><label class="form-label" for="">Annoucement
                                                    Content</label>
                                                <textarea type="text" class="form-control" name="announcement"
                                                    id=""></textarea>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12">
                                <div class="card">
                                    <div class="comment-widgets scrollable">
                                        <% announcements.forEach(function(announcement) { %>
                                            <div class="d-flex flex-row comment-row mt-0">
                                                <div class="comment-text w-100">
                                                    <h6 class="font-medium">
                                                        <%= announcement.announcementTitle %>
                                                            <span class="text-muted float-end">
                                                                <%= announcement.dateCreated%>
                                                            </span>
                                                    </h6>
                                                    <div class="comment-footer">
                                                        <span class="text-muted float-end">
                                                            <%= announcement.visibility %>
                                                        </span>
                                                        <button type="button" class="btn btn-info btn-sm text-white"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#viewAnnounceModal_<%= announcement.id %>">
                                                            View
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-sm text-white"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#editAnnounceModal_<%= announcement.id %>">
                                                            Edit
                                                        </button>
                                                        <form
                                                            action="/teacher/announcement/delete/<%= announcement.id %>"
                                                            method="post" style="display: inline;">
                                                            <button type="submit"
                                                                class="btn btn-danger btn-sm text-white">
                                                                Delete
                                                            </button>
                                                        </form>

                                                    </div>
                                                    <div class="modal fade"
                                                        id="editAnnounceModal_<%= announcement.id %>" tabindex="-1"
                                                        aria-labelledby="editAnnounceModalLabel_<%= announcement.id %>"
                                                        aria-hidden="true">
                                                        <div class="modal-dialog modal-lg modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="editAnnounceModalLabel">
                                                                        Edit
                                                                    </h5>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form
                                                                        action="/teacher/announcement/edit/<%= announcement.id %>"
                                                                        method="post">
                                                                        <div class="row">
                                                                        <div class="col-6 mb-3">
                                                                            <label for="sectionname"
                                                                                class="form-label">Announcement
                                                                                Title</label>
                                                                            <input type="text" class="form-control"
                                                                                value="<%= announcement.announcementTitle %>"
                                                                                id="announcementTitle"
                                                                                name="announcementTitle">
                                                                        </div>
                                                                        <div class="col-6 mb-3">
                                                                            <label for="visibility">Visibility</label>
                                                                            <select name="visibility" id="visibility"
                                                                                class="form-select">
                                                                                <option value="" disabled selected>
                                                                                    Choose an option</option>
                                                                                <option value="Visible" <% if
                                                                                    (announcement.visibility==='Visible'
                                                                                    ) { %>selected<% } %>>Visible
                                                                                </option>
                                                                                <option value="Invisible" <% if
                                                                                    (announcement.visibility==='Invisible'
                                                                                    ) { %>selected<% } %>>Invisible
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                        <div class="mb-3">
                                                                            <label for="announcement"
                                                                                class="form-label">Announcement
                                                                                Content</label>
                                                                            <textarea type="text" class="form-control"
                                                                                id="announcement" name="announcement">
                                                                                    <%- announcement.announcement %>
                                                                                </textarea>
                                                                        </div>
                                                                        
                                                                        <div class="modal-footer">
                                                                            <button type="submit"
                                                                                class="btn btn-primary">Update</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal fade"
                                                        id="viewAnnounceModal_<%= announcement.id %>" tabindex="-1"
                                                        aria-labelledby="viewAnnounceModalLabel_<%= announcement.id %>"
                                                        aria-hidden="true">
                                                        <div class="modal-dialog modal-lg modal-dialog-centered">
                                                            <div class="modal-content"> 
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="viewAnnounceModalLabel">
                                                                        Announcement
                                                                    </h5>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <h1>
                                                                        <h2>
                                                                            <%= announcement.announcementTitle %>
                                                                        </h2>
                                                                        <hr>
                                                                        <p> <%- announcement.announcement %> </p>
                                                                    </h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }); %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
            });
        </script>
        <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
        <script src="/assets/extra-libs/sparkline/sparkline.js"></script>
        <script src="/dist/js/waves.js"></script>
        <script src="/dist/js/sidebarmenu.js"></script>
        <script src="/dist/js/custom.min.js"></script>
        <script src="/assets/libs/flot/excanvas.js"></script>
        <script src="/assets/libs/flot/jquery.flot.js"></script>
        <script src="/assets/libs/flot/jquery.flot.pie.js"></script>
        <script src="/assets/libs/flot/jquery.flot.time.js"></script>
        <script src="/assets/libs/flot/jquery.flot.stack.js"></script>
        <script src="/assets/libs/flot/jquery.flot.crosshair.js"></script>
        <script src="/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
        <script src="/dist/js/pages/chart/chart-page-init.js"></script>
    </body>

    <% } else { %>
        <div class="error-box">
            <div class="error-body text-center">
                <h1 class="error-title text-info">403</h1>
                <h3 class="text-uppercase error-subtitle">ACCESS FORBIDDEN !</h3>
                <p class="text-muted mt-4 mb-4">
                    YOU SEEM TO BE TRYING TO FIND HIS WAY HOME
                </p>
                <a href="/" class="
      btn btn-info btn-rounded
      waves-effect waves-light
      mb-5
      text-white
    ">Back to home</a>
            </div>
        </div>
        <% } %>

</html>