<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Attendance</title>

    <link href="/stylesheets/teacher-create-attendance.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <!-- Include Bootstrap CSS -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> -->

      <!-- Font Awesome -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
      <!-- MDB -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet"/>


</head>
<body id="body-pd">

    <header class="header" id="header">
          <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
          <div class="header_notify"> <i class='bx bx-bell' id="header-notify"></i> </div>
      </header> 
  
      <div class="l-navbar" id="nav-bar">
          <nav class="nav">
            <div>
              <a href="/teacher/dashboard" class="nav_logo"> <i class='bx bx-book-reader nav_logo-icon'></i> <span
                  class="nav_logo-name">E-learn</span> </a>
              <div class="nav_list">
                <a href="/teacher/dashboard" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i> <span
                    class="nav_name">Dashboard</span> </a>
                <a href="#" class="nav_link"> <i class='bx bx-book nav_icon'></i> <span
                    class="nav_name">Subject</span></a>
                <a href="#" class="nav_link"> <i class='bx bx-calendar nav_icon'></i> <span
                    class="nav_name">Calendar</span></a>
                <a href="#" class="nav_link"> <i class='bx bx-medal nav_icon'></i> <span
                    class="nav_name">Achievements</span></a>
                <a href="#" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">
                    
                  </span> </a>
              </div>
            </div>
      
            <% if (teacherid) { %>
      
              <form id="logoutForm" action="/teacher-logout" method="post">
                  <a href="javascript:void(0);" class="nav_link" onclick="document.getElementById('logoutForm').submit();">
                      <i class='bx bx-log-out nav_icon'></i>
                      <span class="nav_name">SignOut</span>
                  </a>
              </form>
      
              <% } else { %>
                <a href="/teacher" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Login</span> </a>
                <% } %>
      
      
          </nav>
        </div>  
  
        <% if (teacherid) { %>

    <h1 style="text-align: center;">Class attendance</h1>
    <hr>


<form action="/teacher/create/attendance" method="post">
    <div style=" font-size: 20px; text-align: center;"> Date Today: <span id="currentDate" style=" font-size: 23px;"></span></div>
    


    <div class="box" style="text-align: center;">
        <label for="">Attendance for Quarter: </label>
        <select name="quarterperiod" id="quarterperiod" style="border-radius: 5px; background-color: #4A55A2; border-color: #4A55A2;" type="button" class="btn btn-primary dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">

            <option value="" default selected disabled>Choose an option</option>
            <% quarters.forEach(quarter => { %>
                <option value="<%= quarter.quarterperiod %>"><%= quarter.quarterperiod %></option>
            <% }); %>
        </select><br><br>
    </div>
    

    <table border="1">
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Attendance</th>
        </tr>
        <% students.forEach(student => { %>
        <tr>
            <td hidden><input type="text" name="studentID" id="studentID" value="<%= student.studentID %>"></td>
            <td><%= student.studentID %></td>
            <td><%= student.full_name %></td>
            <td>
                <select name="attendance" id="attendance" style="border-radius: 5px; background-color: #7895CB; border-color: #4A55A2;" type="button" class="btn btn-primary dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
                    <option value="NULL" selected >Choose an option</option>
                    <option value="Present">Present</option>
                    <option value="Late">Late</option>
                    <option value="Absent">Absent</option>
                </select>
            </td>
        </tr>
        <% }); %>
    </table>

    <br>
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary btn-rounded" style="background-color: #4A55A2; border-color: #7895CB;">Create Attendance Today</button>
    </div>

</form>


<% } else { %>
    <h1> Cookies Required</h1>
    <% } %>


<script>
    // JavaScript code to display the current date in Month Day, Year format
    const currentDateElement = document.getElementById('currentDate');
    const currentDate = new Date();

    const options = { year: 'numeric', month: 'long', day: 'numeric' };
    const formattedDate = currentDate.toLocaleDateString(undefined, options);

    currentDateElement.textContent = formattedDate;
</script>

<script src="/javascripts/teacher-lesson-modules.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>