<!DOCTYPE html>
<html dir="ltr" lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Create Attendance | DAZSMA </title>
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/dazsma-logo.ico" />
        <link href="/assets/libs/flot/css/float-chart.css" rel="stylesheet" />
        <link href="/dist/css/style.min.css" rel="stylesheet" />
        <script src="https://cdn.tiny.cloud/1/ufj9weyctvgle49pehrx5fwaafhproh0juhfnn9hrb2i9leo/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    </head>

    <body>
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
            data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
            <header class="topbar" data-navbarbg="skin5">
                <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                    <div class="navbar-header" data-logobg="skin5">
                        <a class="navbar-brand" href="/student/dashboard">
                            <b class="logo-icon ps-2">
                                <img src="/assets/images/dazsma-logo.png" alt="homepage" class="light-logo"
                                    width="25" />
                            </b>
                            <span class="logo-text ms-2">
                                <span>DAZSMA</span>
                            </span>
                        </a>
                        <a class="nav-toggler waves-effect waves-dark d-block d-md-none" href="javascript:void(0)"><i
                                class="ti-menu ti-close"></i></a>
                    </div>
                    <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                        <ul class="navbar-nav float-start me-auto">
                            <li class="nav-item d-none d-lg-block">
                                <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
                                    data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <aside class="left-sidebar" data-sidebarbg="skin5">
                <div class="scroll-sidebar">
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav" class="pt-4">
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/teacher/dashboard"
                                    aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                                        class="hide-menu">Dashboard</span></a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                    href="/teacher/announcement/" aria-expanded="false"><i
                                        class="mdi mdi-bullhorn"></i><span class="hide-menu">Announcements</span></a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                    href="/teacher/subjectoverview" aria-expanded="false"><i
                                        class="mdi mdi-account-multiple"></i><span class="hide-menu">Subject
                                        Overview</span></a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                    href="/teacher/lesson/modules" aria-expanded="false"><i
                                        class="mdi mdi-account-multiple"></i><span class="hide-menu">Lesson</span></a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                                    aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Class
                                        Menu </span></a>
                                <ul aria-expanded="false" class="collapse first-level">
                                    <li class="sidebar-item">
                                        <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                            href="/teacher/view/students" aria-expanded="false"><i
                                                class="mdi mdi-account-multiple"></i><span
                                                class="hide-menu">Students</span></a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                            href="/teacher/students/attendance/" aria-expanded="false"><i
                                                class="mdi mdi-account-multiple"></i><span
                                                class="hide-menu">Attendance</span></a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                            style="margin-bottom: 462px;" href="/teacher/index/grades"
                                            aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span
                                                class="hide-menu">Grades</span></a>
                                    </li>
                                </ul>
                            </li>


                            <form id="logoutForm" action="/teacher-logout" method="post">
                                <li class="sidebar-item">
                                    <a href="javascript:void(0);"
                                        class="sidebar-link waves-effect waves-dark sidebar-link"
                                        onclick="document.getElementById('logoutForm').submit();"
                                        aria-expanded="false"><i class="mdi mdi-logout"></i><span
                                            class="hide-menu">Logout</span></a>
                                </li>
                            </form>

                            <li class="sidebar-item">
                                <a href="/teacher" class="sidebar-link waves-effect waves-dark sidebar-link"
                                    style="margin-top: auto;" aria-expanded="false"><i class="mdi mdi-login"></i><span
                                        class="hide-menu">Login</span></a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </aside>

            <div class="page-wrapper">
                <div class="page-breadcrumb">
                    <div class="row">
                        <div class="col-12 d-flex no-block align-items-center">
                            <h4 class="page-title">Create Attendance > <%= sectionname %> > <%= subjectname %>
                            </h4>
                            <div class="ms-auto text-end">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/student/dashboard">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Announcement</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row ">
                        <div class="card">
                <div class="container">
                    <br>
                    <h1 style="text-align: center;">Class Attendance</h1>
                    <hr>



                        <form action="/teacher/create/attendance" method="post">
                            <div style=" font-size: 20px; text-align: center;"> Date Today: <span id="currentDate" style=" font-size: 23px;"></span></div>
                            


                            <div class="box" style="text-align: center;">
                                <label for="">Attendance for Quarter: </label>
                                <select name="quarterperiod" id="quarterperiod" style="border-radius: 5px; background-color: #4A55A2; border-color: #4A55A2;" type="button" class="btn btn-primary dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">

                                    <option value="" default selected disabled>Choose an option</option>
                                    <% quarters.forEach(quarter => { %>
                                        <option value="<%= quarter.quarterperiod %>"><%= quarter.quarterperiod %></option>
                                    <% }); %>
                                </select><br><br>
                            </div>
                            

                            <table border="1" align="center">
                                <tr>
                                    <th>Student ID</th>
                                    <th>Student Name</th>
                                    <th>Attendance</th>
                                </tr>
                                <% students.forEach(student => { %>
                                <tr>
                                    <td hidden><input type="text" name="studentID" id="studentID" value="<%= student.studentID %>"></td>
                                    <td><%= student.studentID %></td>
                                    <td><%= student.full_name %></td>
                                    <td>
                                        <select name="attendance" id="attendance" style="border-radius: 5px; background-color: #7895CB; border-color: #4A55A2;" type="button" class="btn btn-primary dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
                                            <option value="NULL" selected >Choose an option</option>
                                            <option value="Present">Present</option>
                                            <option value="Late">Late</option>
                                            <option value="Absent">Absent</option>
                                        </select>
                                    </td>
                                </tr>
                                <% }); %>
                            </table>

                            <br>
                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-primary btn-rounded" style="background-color: #4A55A2; border-color: #7895CB;">Create Attendance Today</button>
                            </div>

                        </form>
                        <br>
                </div>
            </div>
        </div>
    
        <script>
            // JavaScript code to display the current date in Month Day, Year format
            const currentDateElement = document.getElementById('currentDate');
            const currentDate = new Date();
        
            const options = { year: 'numeric', month: 'long', day: 'numeric' };
            const formattedDate = currentDate.toLocaleDateString(undefined, options);
        
            currentDateElement.textContent = formattedDate;
        </script>
    </body>
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="/dist/js/waves.js"></script>
    <script src="/dist/js/sidebarmenu.js"></script>
    <script src="/dist/js/custom.min.js"></script>
    <script src="/assets/libs/flot/excanvas.js"></script>
    <script src="/assets/libs/flot/jquery.flot.js"></script>
    <script src="/assets/libs/flot/jquery.flot.pie.js"></script>
    <script src="/assets/libs/flot/jquery.flot.time.js"></script>
    <script src="/assets/libs/flot/jquery.flot.stack.js"></script>
    <script src="/assets/libs/flot/jquery.flot.crosshair.js"></script>
    <script src="/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="/dist/js/pages/chart/chart-page-init.js"></script>
    <script src="/javascripts/teacher-lesson-modules.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>