<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/stylesheets/teacher-announcement.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All of the announcements for <%= sectionname %> <%= subjectname %></h1>
<h1>Announcements</h1>
<a href="/teacher/announcement/create">Create Announcement</a>

    <table border="1">
        <tr>
            <th>Announcement Title</th>
            <th>Announcement Content</th>
            <th>Date Created </th>
            <th colspan="3">Actions</th>
        </tr>
        <% announcements.forEach(function(announcement) { %>
            <tr>
                <td><%= announcement.announcementTitle %></td>
                <td><%= announcement.announcement %></td>
                <td><%= announcement.dateCreated%></td>
                <td><a href="/teacher/announcement/view/<%= announcement.id %>">View</a></td>
                <td><a href="/teacher/announcement/edit/<%= announcement.id %>">Edit</a></td>
                <td>
                    <form action="/teacher/announcement/delete/<%= announcement.id %>" method="post">
                        <button type="submit">Delete Announcement</button>
                    </form>
              </td>
            </tr>
        <% }); %>
    </table>
</body>
</html>